.body{    
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    padding: 1rem;
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,241,210,1) 0%, rgba(0,212,255,1) 100%);
    
    text-align: center;
    font-size: 32px;
    font-family: 'Goblin One', cursive;
}